/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #6200ea;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

#show_rand h2 {
    font-size: 1.5em;
    color: #000;
}

#show_num input[type="button"] {
    padding: 15px;
    margin: 5px;
    font-size: 1.5em;
    background
