/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #6200ea;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

#show_rand h2 {
    font-size: 1.5em;
    color: #000;
}

#show_num input[type="button"] {
    padding: 15px;
    margin: 5px;
    font-size: 1.5em;
    background-color: #03dac6;  /* สีของปุ่มตัวเลข */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show_op input[type="button"] {
    padding: 15px;
    margin: 5px;
    font-size: 1.5em;
    background-color: #ff5722;  /* สีของปุ่มเครื่องหมาย */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show_op {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#show_op input[type="button"]:nth-child(-n+4) {
    margin-right: 5px; /* เพิ่มระยะห่างระหว่างปุ่มในแถวแรก */
}

input[type="button"]:hover {
    opacity: 0.9;
}
